/* controls */
.controls-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
    height: auto;
    padding: 16px;
}

.btn {
    padding: 8px 16px;
    background: #222;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    gap: 4px;
    transition: background 0.2s;
}

.btn .material-symbols-outlined {
    font-size: 16px !important;
}

.btn:hover {
    background: #444;
}

/* nodes */

.node {
  stroke: white;
  stroke-width: 1.5;
}

.node.iri {
  fill: forestgreen;
}

.node.literal {
  fill: orange;
}

/* links */

.link {
  stroke: #999;
  stroke-width: 2;
  stroke-opacity: 0.6;
}

/* node labels */

.node-label {
  fill: white;
  font-size: 12px;
  pointer-events: none;
}

/* link labels */

.link-label {
  fill: grey;
  font-size: 11px;
  pointer-events: none;
}